body {
    padding: 10px 5% 50px;
    font-family: 'Georgia,serif';
}

.link-list a {
    display: inline-block;
    margin: 5px 20px;
}

.label {
    display: inline-block;
    margin-left: 5px;
}


.progress strong {
    font-size: 16px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

.bytemd-status-right input[type=checkbox] {
    margin: 0 4px 0 0 !important;
}

.large {
    font-size: 17px;
    font-weight: bold;
}
.red {
    color: red;
}
.bold {
    font-weight: bold;;
}