<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>服务</title>
    <link rel="stylesheet" href="/assets/css/bootstrap3.4.min.css" />
    <link rel="stylesheet" href="/assets/css/my.css" />
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/vue.global.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/page/header.js"></script>
    <script src="/assets/js/jsoneditor9.8.js"></script>
    <link href="/assets/css/jsoneditor9.8.css" rel="stylesheet" />

<body>
    <div id="header"></div>
    <div id="app"></div>
    <template id="template">
        <h2>服务详情：<small>{{service.host}}（环境：{{service.env}}）</small></h2>
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <label for="description" class="control-label col-sm-2">名字</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{service.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-sm-2">唯一标识</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{service.service}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-sm-2">超时控制</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{service.timeout}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-sm-2">签名算法</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{service.sign || '无'}}</p>
                </div>
            </div>
            <div class="form-group" v-if="service.sign != undefine && service.sign.length > 0">
                <label for="description" class="control-label col-sm-2">签名配置</label>
                <div class="col-sm-8">
                    <div id="jsoneditor" style="width: 100%; height: 220px"></div>
                    <textarea class="form-control" rows="3">{{service.sign_config}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-sm-2">禁用response提取</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{service.disable_extract > 0 ? '不提取' : '提取'}}</p>
                </div>
            </div>

            <div class="form-group" v-if="service.disable_extract != undefine && service.disable_extract < 1">
                <label for="description" class="control-label col-sm-2">response提取配置</label>
                <div class="col-sm-2">
                    <p class="form-control-static">message_key</p>
                    <p class="form-control-static">{{service.message_key}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="form-control-static">data_key</p>
                    <p class="form-control-static">{{service.data_key}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="form-control-static">code_key</p>
                    <p class="form-control-static">{{service.code_key}}</p>
                </div>
                <div class="col-sm-2">
                    <p class="form-control-static">success_code</p>
                    <p class="form-control-static">{{service.success_code}}</p>
                </div>
            </div>
        </div>
        <div style="padding: 1px 0 10px;">
            <label class="radio-inline" v-for="(item, i) in envList">
                <input type="radio" name="env" :value="item" v-model="env" @change="clickEnv">{{item}}
            </label>
        </div>
        <div style="margin: 15px 0;">
            <button class="btn btn-primary btn-sm" @click="showCreateApiModal()">新建API</button>
        </div>

        <table class="table table-striped  table-bordered">
            <thead>
                <tr>
                    <th>API标识</th>
                    <th>Path</th>
                    <th>ContentType</th>
                    <th>Timeout(ms)</th>
                    <th style="text-align:center;">操作</th>
                </tr>
            <tbody>
                <tr v-for="(api, i) in apiList">
                    <td>{{api.api}}</td>
                    <td>【{{api.method}}】{{api.path}}</td>
                    <td>{{api.content_type}}</td>
                    <td>{{api.timeout}}</td>
                    <td style="text-align:center;">
                        <button class="btn btn-sm btn-link" @click="showEditApiModal(api)">
                            编辑
                        </button>
                        <button class="btn btn-sm btn-link" @click="showDeleteApiModal(api)">
                            删除
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" tabindex="-1" role="dialog" id="myApiModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ this.edit ? '修改API' : '新增API'}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="api" class="control-label col-sm-2">Path</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" v-model="api.path"
                                        placeholder="your/path.json">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="api" class="control-label col-sm-2">api标识</label>
                                <div class="col-sm-10">

                                    <input type="text" class="form-control" v-model="api.api"
                                        placeholder="your_path_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="method" class="control-label col-sm-2">method</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="method" value="GET" v-model="api.method">
                                        GET
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="method" value="POST" v-model="api.method">
                                        POST
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content_type" class="control-label col-sm-2">ContentType</label>
                                <div class="col-sm-10">
                                    <select class="form-control" v-model="api.content_type">
                                        <option value="none">无</option>
                                        <option value="application/json">application/json</option>
                                        <option value="text/plain">text/plain</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="timeout" class="control-label col-sm-2">超时时间（ms）</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" v-model="api.timeout" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="control-label col-sm-2">描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" v-model="api.description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="doUpdateServiceAPI()">保存</button>
                    </div>
                </div>
            </div>
        </div>


    </template>
    <script>
        $(document).ready(function () {
            window.jsonEditor = null;
            var vm = Vue.createApp({
                data() {
                    let list = []
                    return {
                        service: {},
                        apiList: [],
                        page: 1,


                        edit: false,
                        copyEnv: '',
                        api: {},
                    }
                },
                template: '#template',
                async mounted() {
                    this.page = parseInt(getQuery('page', '1'))
                    await this.getService()
                    await this.getServiceAPIList()
                },

                methods: {
                    initJSONEditor(value) {
                        if (window.jsonEditor == null) {
                            setTimeout(() => {
                                window.jsonEditor = new JSONEditor(document.getElementById("jsoneditor"), {
                                    "mode": "code",
                                    "search": true,
                                    "indentation": 4
                                })
                                try {
                                    let jsonValue = JSON.parse(value)
                                    window.jsonEditor.set(jsonValue)
                                } catch (e) {
                                }
                            }, 300);
                        }
                    },
                    async getService() {
                        let result = await axios.get('/query/service?id=' + getQuery('service_id', '0'))
                        this.service = result.data.data[0]
                        this.initJSONEditor(this.service.sign_config)
                    },
                    async getServiceAPIList() {
                        let result = await axios.get('/query/service_api?service=' + this.service.service)
                        this.apiList = result.data.data
                    },
                    async showCopyModal(item) {
                        this.service = item
                        $('#copyModal').modal()
                    },
                    async doCopyService() {
                        let insertData = {
                            'name': this.service.name,
                            'service': this.service.service,
                            'host': this.service.host,
                            'description': this.service.description,
                            'sign': this.service.sign,
                            'sign_config': this.service.sign_config,
                            'timeout': this.service.timeout,
                            'env': this.copyEnv,
                            'data_key': this.service.data_key,
                            'code_key': this.service.code_key,
                            'message_key': this.service.message_key,
                            'success_code_key': this.service.success_code_key,
                            'disable_extract': this.service.disable_extract,
                        }

                        let result = await axios.post('/create/service', insertData)
                        if (result.data.code < 0) {
                            alert(result.data.message)
                        } else {
                            reloadWith({
                                env: this.copyEnv,
                                page: 1
                            })
                        }
                    },
                    async showCreateApiModal() {
                        this.edit = false
                        this.api = {
                            api: '',
                            path: '',
                            method: 'GET',
                            content_type: 'none',
                            timeout: 4000,
                            description: ''
                        }
                        $('#myApiModal').modal();
                    },
                    async showEditApiModal(item) {
                        this.api = cloneObject(item)
                        this.edit = true
                        $('#myApiModal').modal()
                    },
                    async doUpdateServiceAPI() {
                        if (this.edit) {
                            let updateData = {
                                'api': this.api.api,
                                'path': this.api.path,
                                'description': this.api.description,
                                'method': this.api.method,
                                'timeout': this.api.timeout,
                                'content_type': this.api.content_type,
                            }

                            let result = await axios.post('/modify/service_api/' + this.api.id, updateData)
                            if (result.data.code < 0) {
                                alert(result.data.message)
                            } else {
                                simpleReload()
                            }
                        } else {
                            let insertData = {
                                'service': this.service.service,
                                'api': this.api.api,
                                'path': this.api.path,
                                'description': this.api.description,
                                'method': this.api.method,
                                'timeout': this.api.timeout,
                                'content_type': this.api.content_type,
                            }

                            let result = await axios.post('/create/service_api', insertData)
                            if (result.data.code < 0) {
                                alert(result.data.message)
                            } else {
                                simpleReload()
                            }
                        }
                    },
                    async showDeleteApiModal(item) {
                        bootbox.confirm("确认删除`" + item.path + "`？", (result) => {
                            if (result) {
                                this.doDeleteServiceApi(item.id)
                            }
                        })
                    },
                    async doDeleteServiceApi(id) {
                        let result = await axios.post('/delete/service_api/' + id)
                        if (result.data.code < 0) {
                            alert(result.data.message)
                        } else {
                            simpleReload()
                        }
                    }
                },

            })
            vm.mount('#app')
        })
    </script>
</body>

</html>