<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>服务</title>
    <link rel="stylesheet" href="/assets/css/bootstrap3.4.min.css" />
    <link rel="stylesheet" href="/assets/css/my.css" />
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/vue.global.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/page/header.js"></script>
    <script src="/assets/js/jsoneditor9.8.js"></script>
    <link href="/assets/css/jsoneditor9.8.css" rel="stylesheet" />

<body>
    <div id="header"></div>
    <div id="app"></div>
    <template id="template">
        <div style="padding: 1px 0 10px;">
            <label class="radio-inline" v-for="(item, i) in envList">
                <input type="radio" name="env" :value="item" v-model="env" @change="clickEnv">{{item}}
            </label>
        </div>
        <div style="margin: 15px 0;">
            <button class="btn btn-primary" @click="showCreateModel()">新建服务</button>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名字</th>
                    <th>标识</th>
                    <th>Host</th>
                    <th>超时</th>
                    <th>签名</th>
                    <th style="text-align: center;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, i) in serviceList">
                    <td>{{item.id}}</td>
                    <td><a :href="'/page/service/detail.html?service_id=' + item.id">{{item.name}}</a></td>
                    <td><a :href="'/page/service/detail.html?service_id=' + item.id">{{item.service}}</a></td>
                    <td>{{item.host}}</td>
                    <td>{{item.timeout}}</td>
                    <td>{{item.sign || '无'}}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-sm btn-link" @click="showEditModal(item)">编辑</button>
                        <button class="btn btn-sm btn-link" @click="showDeleteModal(item)">删除</button>
                        <button class="btn btn-sm btn-link" @click="showCopyModal(item)">复制</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ this.edit ? '修改' : '创建'}}服务</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="control-label col-sm-2">中文名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" v-model="service.name" placeholder="中文名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="service" class="control-label col-sm-2">唯一标识</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" v-model="service.service" :disabled="edit"
                                        placeholder="英文唯一标识">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="env" class="control-label col-sm-2">环境</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" v-model="service.env" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="host" class="control-label col-sm-2">Host</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" v-model="service.host"
                                        placeholder="http://api.baidu.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="timeout" class="control-label col-sm-2">超时时间（ms）</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" v-model="service.timeout"
                                        placeholder="毫秒" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sign" class="control-label col-sm-2">签名算法</label>
                                <div class="col-sm-10">
                                    <select class="form-control" v-model="service.sign" @change="changeSignName">
                                        <option value="">无</option>
                                        <option v-for="item in signList" :value="item.sign">{{item.sign}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" v-if="service.sign != undefined && service.sign.length > 0">
                                <label for="sign_config" class="control-label col-sm-2">签名配置</label>
                                <div class="col-sm-10">
                                    <div id="jsoneditor" style="width: 100%; height: 220px"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="response_config" class="control-label col-sm-2">禁用提取结果</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" value="1" name="extract" v-model="service.disable_extract">是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="0" name="extract" v-model="service.disable_extract">否
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" v-if="service.disable_extract < 1">
                                <label for="response_config" class="control-label col-sm-2">提取配置</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" v-model="service.code_key"
                                        placeholder="code_key" />
                                    <span class="help-block">code_key</span>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" v-model="service.data_key"
                                        placeholder="data_key" />
                                    <span class="help-block">data_key</span>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" v-model="service.success_code"
                                        placeholder="成功code" />
                                    <span class="help-block">success_code</span>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" v-model="service.message_key"
                                        placeholder="message_key" />
                                    <span class="help-block">message_key</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="control-label col-sm-2">描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" v-model="service.description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="doUpdateService()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="copyModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">复制到</h4>
                    </div>
                    <div class="modal-body">
                        <div class="radio" v-for="item in envList">
                            <label>
                                <input type="radio" name="copyEnv" :value="item" v-model="copyEnv"
                                    :disabled="item == env">{{item}}
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                        <button type="button" class="btn btn-primary" @click="doCopyService()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>

        $(document).ready(function () {
            window.jsonEditor = null;
            var vm = Vue.createApp({
                data() {
                    let list = []
                    return {
                        envList: [],
                        serviceList: [],
                        env: "",
                        page: 1,

                        service: {},
                        edit: false,
                        copyEnv: '',

                        api: {},
                        signList: []
                    }
                },
                template: '#template',
                async mounted() {
                    this.page = parseInt(getQuery('page', '1'))
                    this.env = getQuery('env', 'default')
                    await this.getEnvList()
                    await this.getServiceList()
                    this.getSignList()
                },
                methods: {
                    async clickEnv() {
                        reloadWith({
                            env: this.env,
                            page: 1,
                        })
                    },
                    async getEnvList() {
                        let result = await axios.get('/env/list')
                        this.envList = result.data.data
                    },
                    async getSignList() {
                        let result = await axios.get('/sign/list')
                        this.signList = result.data.data
                    },
                    async changeSignName() {
                        for (var i in this.signList) {
                            if (this.signList[i].sign == this.service.sign) {
                                this.service.sign_config = JSON.stringify(this.signList[i].sign_config_template)
                            }
                        }
                        console.log(this.service.sign, this.service.sign_config)
                        this.initJSONEditor()
                    },
                    async getServiceList() {
                        let result = await axios.get('/query/service?env=' + this.env)
                        this.serviceList = result.data.data
                    },
                    async showEditModal(item) {
                        this.service = cloneObject(item)
                        this.edit = true
                        $('#myModal').modal()
                        this.initJSONEditor()
                    },
                    initJSONEditor() {
                        if (this.service.sign == undefined || this.service.sign.length < 1) {
                            return
                        }

                        setTimeout(() => {
                            window.jsonEditor = new JSONEditor(document.getElementById("jsoneditor"), {
                                "mode": "code",
                                "search": true,
                                "indentation": 4
                            })
                            if (this.service.sign_config.length > 0) {
                                try {
                                    let jsonValue = JSON.parse(this.service.sign_config)
                                    window.jsonEditor.set(jsonValue)
                                } catch (e) {
                                }
                            }
                        }, 300);
                    },
                    async showCreateModel() {
                        this.service = {
                            'name': '',
                            'env': 'default',
                            'service': '',
                            'host': '',
                            'description': '',
                            'sign': '',
                            'sign_config': '{}',
                            'timeout': 1000,
                            'disable_extract': '0',
                            'code_key': 'code',
                            'message_key': 'message',
                            'data_key': 'data',
                            'success_code': '0'
                        }
                        this.initJSONEditor()
                        this.edit = false
                        $('#myModal').modal()
                    },
                    async doUpdateService() {
                        if (this.edit) {
                            let updateData = {
                                'name': this.service.name,
                                'host': this.service.host,
                                'description': this.service.description,
                                'sign': this.service.sign,
                                'sign_config': JSON.stringify(window.jsonEditor.get()),
                                'timeout': this.service.timeout,
                                'data_key': this.service.data_key,
                                'code_key': this.service.code_key,
                                'message_key': this.service.message_key,
                                'success_code': this.service.success_code,
                                'disable_extract': this.service.disable_extract,
                            }

                            let result = await axios.post('/modify/service/' + this.service.id, updateData)
                            if (result.data.code < 0) {
                                alert(result.data.message)
                            } else {
                                simpleReload()
                            }
                        } else {
                            let insertData = {
                                'name': this.service.name,
                                'service': this.service.service,
                                'host': this.service.host,
                                'description': this.service.description,
                                'sign': this.service.sign,
                                'sign_config': JSON.stringify(window.jsonEditor.get()),
                                'timeout': this.service.timeout,
                                'env': 'default',
                                'data_key': this.service.data_key,
                                'code_key': this.service.code_key,
                                'message_key': this.service.message_key,
                                'success_code': this.service.success_code,
                                'disable_extract': parseInt(this.service.disable_extract),
                            }

                            let result = await axios.post('/create/service', insertData)
                            if (result.data.code < 0) {
                                alert(result.data.message)
                            } else {
                                simpleReload()
                            }
                        }
                    },
                    async showDeleteModal(item) {
                        bootbox.confirm("确认删除`" + item.name + "`【" + item.host + "】？", (result) => {
                            if (result) {
                                this.doDeleteService(item.id)
                            }
                        })
                    },
                    async doDeleteService(serviceID) {
                        let result = await axios.post('/delete/service/' + serviceID)
                        if (result.data.code < 0) {
                            alert(result.data.message)
                        } else {
                            simpleReload()
                        }
                    },
                    async showCopyModal(item) {
                        this.service = item
                        $('#copyModal').modal()
                    },
                    async doCopyService() {
                        let insertData = {
                            'name': this.service.name,
                            'service': this.service.service,
                            'host': this.service.host,
                            'description': this.service.description,
                            'sign': this.service.sign,
                            'sign_config': this.service.sign_config,
                            'timeout': this.service.timeout,
                            'env': this.copyEnv,
                            'data_key': this.service.data_key,
                            'code_key': this.service.code_key,
                            'message_key': this.service.message_key,
                            'success_code': this.service.success_code,
                            'disable_extract': this.service.disable_extract,
                        }

                        let result = await axios.post('/create/service', insertData)
                        if (result.data.code < 0) {
                            alert(result.data.message)
                        } else {
                            reloadWith({
                                env: this.copyEnv,
                                page: 1
                            })
                        }
                    },
                }
            })
            vm.mount('#app')
        })
    </script>
</body>

</html>