<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>路由</title>
    <script src="/header.js"></script>
<body>
    <div id="app"></div>
    <template id="template">
        <div style="padding: 1px 0 10px;">
            <label class="radio-inline">
                <input type="radio" name="env" value="all" v-model="category" @change="clickCategory">全部
            </label>
            <label class="radio-inline" v-for="(item, i) in categoryList">
                <input type="radio" name="env" :value="item" v-model="category" @change="clickCategory">{{item}}
            </label>
        </div>
        <div style="margin: 15px 0;">
            <button class="btn btn-primary" @click="gotoCreate()">新建路由</button>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Path</th>
                    <th>模式</th>
                    <th>请求</th>
                    <th>分类</th>
                    <th style="text-align: center;">操作</th>
                </tr>
            <tbody>
                <tr v-for="(item, i) in this.routerList">
                    <td>{{item.id}}</td>
                    <td>
                        <a :href="'/page/router/detail.html?router_id=' + item.id" target="_blank">
                            {{item.path}}
                        </a>
                    </td>
                    <td>{{item.mode}}</td>
                    <td>{{item.service_api || '无'}}</td>
                    <td>{{item.category}}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-sm btn-link" @click="gotoEdit(item)">编辑</button>
                        <button class="btn btn-sm btn-link" @click="showDeleteModal(item)">删除</button>
                        <button class="btn btn-sm btn-link" @click="gotoDoc(item)">文档</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
    <script>

        var startWork = function () {
            window.jsonEditor = null;
            var vm = Vue.createApp({
                data() {
                    let list = []
                    return {
                        serviceList: [],
                        serviceApiList: [],
                        categoryList: [],
                        routerList: [],
                        category: "",

                        router: {},
                        edit: false,
                    }
                },
                template: '#template',
                async mounted() {
                    this.category = getQuery('category', 'all')
                    await this.getRouterCategory()
                    await this.getRouterList()
                },
                methods: {
                    async clickCategory() {
                        reloadWith({
                            category: this.category,
                        })
                    },
                    async getRouterCategory() {
                        let result = await axios.get('/router/category')
                        this.categoryList = result.data.data
                    },
                    async getRouterList() {
                        let query = {}
                        let url = "/query/router"
                        if (this.category != 'all') {
                            url += "?category=" + this.category
                        }
                        let result = await axios.get(url)
                        this.routerList = result.data.data
                    },
                    async showDeleteModal(item) {
                        bootbox.confirm("确认删除`" + item.path + "`？", (result) => {
                            if (result) {
                                this.doDeleteRouter(item.id)
                            }
                        })
                    },
                    async doDeleteRouter(id) {
                        let result = await axios.post('/delete/router/' + id)
                        if (result.data.code < 0) {
                            alert(result.data.message)
                        } else {
                            simpleReload()
                        }
                    },
                    async gotoEdit(item) {
                        window.location.href = "/page/router/modify.html?router_id=" + item.id
                    },
                    async gotoCreate(item) {
                        let url = "/page/router/create.html"
                        if(this.category != 'all') {
                            url += "?category=" + this.category
                        }
                        window.location.href = url
                    },
                    async gotoDoc(item) {
                        window.location.href = "/page/router/doc.html?router_id=" + item.id
                    },
                },

            })
            vm.mount('#app')
        }
    </script>
</body>

</html>