<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>登录</title>
    <script src="/header.js"></script>

<body>
    <div id="app"></div>
    <template id="template">
        <div class="row" style="padding-top: 15%; ">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="用户名" name="username" type="text" autofocus
                                        required v-model="username">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="密码" name="password" type="password"
                                        required v-model="password">
                                </div>
                                <!-- 登录按钮 -->
                                <button type="button" class="btn btn-lg btn-success btn-block" @click="login()">登录</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</body>
<script>
    var startWork = function () {
        var vm = Vue.createApp({
            data() {
                return {
                    username: '',
                    password: '',
                }
            },
            template: '#template',
            methods: {
                async login() {
                    let result = await axios.post('/user/login', {
                        username: this.username,
                        password: this.password,
                    }, {
                        withCredentials : true
                    })
                    if(result.data.code != 0) {
                        bootbox.alert(result.data.message);
                    } else {
                        window.location.href = getQuery('jump', '/')
                    }
                }
            }
        })
        vm.mount('#app')
    }
</script>

</html>